.ourstable-section{
  .our-stable{
    width: 100%;
    text-align: left;
    margin: 4em 0 15em 0;
    h2{
      font-size: 24px;
      font-weight: 700;
      color: #0F1642;
      text-transform: uppercase;
    }
    p{
      font-size: 18px;
      font-weight: 400;
      color: #0F1642;
      margin-bottom: 1.5em;
    }
    .carousel-bottom-info{
      background: #ffffff;
      padding: 1em;
      text-align: left;
      box-shadow: 0px 5px 30px #0000000D;
      h3{
        font-size: 16px;
        font-weight: 700;
        color: #0F1642;
        line-height: 22px;
      }
      h4{
        font-size: 12px;
        font-weight: 400;
        color: #0F1642;
        line-height: 16px;
      }
    }
    .owl-stage-outer{
      padding: 1em;
    }
    .owl-carousel{
      .owl-nav{
        .owl-prev{
          position: absolute;
          left: -75px;
          height: 70px;
          width: 70px;
        }
        .owl-next{
          position: absolute;
          right: -75px;
          height: 70px;
          width: 70px;
        }
      }
    }
  }
  
}