.three-section{
  .three-tiles{
    //.tiles-mask{
      // display: flex;
      // justify-content: space-between;
    //   float: left;
    //   width: 100%;
    //   .tiles-section:first-child{
    //     width: 32%;
    //     float: left;
    //   }
    //   .tiles-section:nth-child(2){
    //     float: left;
    //     width: 32%;
    //     margin: 0 1.4em;
    //   }
    //   .tiles-section:last-child{
    //     width: 32%;
    //     float: right;
    //   }
    // }
    
  }
}

figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #000 0%, #ccc 40%, #666 100%);
  background: linear-gradient(45deg, #000 0%,#ccc 40%,#666 100%);
  position: relative;
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  height: 100%;
}

figure.effect-oscar figcaption {
	  padding: 3em;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
  margin: 3% 0 10px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}